.container{
    display:flex;
    justify-content:space-evenly;
    padding-top: 50px;
}
.carrito_Formulario form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
form input{
    width: max-content;
    margin-bottom: 10px;
}
.Sin_Productos{
    text-align: center;
}
form .buttons button{
    margin-right: 10px;
}
.producto_compra{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.producto_compra>div{
    margin: 10px;
}
.swal2-styled.swal2-confirm{
    background-color: #8e5445;
}
.Sin_Productos{
    font-size: 30px;
}