nav{
    display: flex;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style-type: none;
    display: inline-flex;
    align-items: flex-end;
    padding: 10px;
    flex: auto;
}
nav a{
    text-decoration: none;
    color:aliceblue;
}