.controles>button{
    border:none;
    background-color: #8e5445;
    color: aliceblue;
    font-size: 30px;
    margin: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
}
.controles>button:hover{
    background-color: #92736b;
}
.controles>button:active{
    background-color: #8e5445;
}
.controles>span{
    font-size: 40px;
}